<app-header></app-header>
<main>
    <div class="intro d-flex w-100 flex-row justify-content-between">
        <h1 class="h1 mb-5 fs-2 p-4">Lista de Colaboradores</h1>
        <button routerLink="/cadastro/colaborador" class="register-button" mat-flat-button color="primary">Cadastrar
            <mat-icon color="" aria-hidden="false" aria-label="add icon" fontIcon="add"></mat-icon>
        </button>
    </div>
    <div class="col-10 bg-white d-flex flex-column rounded">
        <div class="d-flex w-100">
            <div class="d-flex flex-row align-items-center">
                <mat-form-field class="input-sizing">
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="DD/MM/YYYY" [(ngModel)]="dataInicial">
                    <input matEndDate placeholder="DD/MM/AAAA" [(ngModel)]="dataFinal">
                  </mat-date-range-input>
                  <button mat-mini-fab matSuffix (click)="ListandoColaboradores()" class="text-white me-2" type="submit">
                    <mat-icon class="material-icons">calendar_month</mat-icon>
                  </button>
                  <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="input-sizing">
                  <div class="d-flex flex-row align-items-center">
                    <input (change)="!pesquisa && ListandoColaboradores()" matInput placeholder="Busca por nome, cpf, e-mail, telefone ou criador" type="text" [(ngModel)]="pesquisa">
                    <button (click)="ListandoColaboradores()" class="search" type="submit">
                      <span class="material-icons">search</span>
                    </button>
                  </div>
                </mat-form-field>
            </div>
        </div>
        <div class="filter-button">
            <button mat-flat-button color="primary" (click)="FiltroRecentes()">Mais Recentes</button>
            <button mat-flat-button color="primary" (click)="FiltroAntigos()">Mais Antigos</button>
        </div>
    </div>
    <div class="col-10 mt-3">
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="nomeFuncionario">
                <mat-header-cell *matHeaderCellDef>Nome do Funcionário</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nome}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="cpf">
                <mat-header-cell *matHeaderCellDef>CPF</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.cpf}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="telefonePrincipal">
                <mat-header-cell *matHeaderCellDef>Telefone Principal</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.telefonePrincipal}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="emailPrincipal">
                <mat-header-cell *matHeaderCellDef>E-mail Principal</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.emailPrincipal}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="dataCriacao">
                <mat-header-cell *matHeaderCellDef>Data de Criação</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.dtCriacao}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="cadastradoPor">
                <mat-header-cell *matHeaderCellDef>Cadastrado por</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nsCriacao}}</mat-cell>
            </ng-container>
           <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
           <mat-row *matRowDef="let row; columns:displayedColumns;"  (click)="RedirectDetalhes(row)"></mat-row>
        </mat-table>

        <mat-paginator
        [length]="quantidadeColaboradores"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageIndex]="page"
        [pageSize]="pageSize"
        (page)="onPaginateChange($event)">
      </mat-paginator>
    </div>
</main>
