<app-header></app-header>
<main>
    <div class="intro d-flex w-100 flex-row justify-content-between">
        <h1 class="h1 mb-5 fs-2 p-4">Lista de Colaboradores</h1>
        <button routerLink="/cadastroColaborador" class="register-button" mat-flat-button color="primary">Cadastrar
            <mat-icon color="" aria-hidden="false" aria-label="add icon" fontIcon="add"></mat-icon>
        </button>
    </div>
    <div class="col-10 bg-white d-flex flex-column rounded">
        <div class="d-flex w-100">
            <div class="d-flex flex-row align-items-center">
                <mat-form-field class="input-sizing">
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="DD/MM/YYYY">
                    <input matEndDate placeholder="DD/MM/AAAA">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="input-sizing">
                  <div class="d-flex flex-row align-items-center">
                    <input matInput placeholder="Busca por nome, cpf, e-mail, telefone ou criador" type="text" class="">
                    <button class="search" type="submit">
                      <span class="material-icons">search</span>
                    </button>
                  </div>
                </mat-form-field>
            </div>

        </div>
        <div class="filter-button">
            <button mat-flat-button color="primary">Mais Recentes</button>
            <button mat-flat-button color="primary">Mais Antigos</button>
        </div>
    </div>
    <div class="col-10 mt-3">
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="nomeFuncionario">
                <th mat-header-cell *matHeaderCellDef>Nome do Funcionário</th>
                <td mat-cell *matCellDef="let element">{{element.nome}}</td>
            </ng-container>
            <ng-container matColumnDef="cpf">
                <th mat-header-cell *matHeaderCellDef>CPF</th>
                <td mat-cell *matCellDef="let element">{{element.cpf }}</td>
            </ng-container>
            <ng-container matColumnDef="telefonePrincipal">
                <th mat-header-cell *matHeaderCellDef>Telefone Principal</th>
                <td mat-cell *matCellDef="let element">{{element.telefonePrincipal }}</td>
            </ng-container>
            <ng-container matColumnDef="emailPrincipal">
                <th mat-header-cell *matHeaderCellDef>E-mail Principal</th>
                <td mat-cell *matCellDef="let element">{{element.emailPrincipal}}</td>
            </ng-container>
            <ng-container matColumnDef="dataCriacao">
                <th mat-header-cell *matHeaderCellDef>Data de Criação</th>
                <td mat-cell *matCellDef="let element">{{element.dtCriacao }}</td>
            </ng-container>
            <ng-container matColumnDef="cadastradoPor">
                <th mat-header-cell *matHeaderCellDef>Cadastrado por</th>
                <td mat-cell *matCellDef="let element">{{element.nsCriacao}}</td>
            </ng-container>
           <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
           <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
        </mat-table>
    </div>
</main>
