*{
    margin: auto;
    padding: 0;
}

.mat-mdc-table mat-row:hover{
  background-color: rgb(175, 175, 175);
  cursor: pointer;
}

body{
    background-color: #CCCCCC;
}

.box-filtro{
    background-color: white;
    width: 85%;
    height: 200px;
}

.input-sizing{
    width: 715px;
    margin-top: 1rem;
}

.intro{
    height: 10rem;
}

.register-button{
    margin-top: 6rem;
    margin-right: 160px;
}

.filter-button{
    width: 330px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 2rem;
    margin-left: 30px;
}

.style{
    color: black;
}

.mat-table {
    min-width: 81%;
}

/* :host{
  width: 20rem;
  height: 10rem;
} */

.search{
  background-color: unset;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(102, 102, 102);
}

.h1{
  margin-left: 135px;
}

.mat-mdc-unelevated-button:not(:disabled){
  color: white;
  background-color: black;
}
